<div>
  <h2 id="page-heading" data-cy="PaymentHeading">
    <span>المتأخرات</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="studentApp.payment.home.refreshListLabel">Refresh List</span>
      </button>

<!--      <button-->
<!--        id="jh-create-entity"-->
<!--        data-cy="entityCreateButton"-->
<!--        class="btn btn-primary jh-create-entity create-payment"-->
<!--        [routerLink]="['/payment/new']"-->
<!--      >-->
<!--        <fa-icon icon="plus"></fa-icon>-->
<!--        <span jhiTranslate="studentApp.payment.home.createLabel"> Create a new Payment </span>-->
<!--      </button>-->
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="students?.length === 0">
    <span jhiTranslate="studentApp.student.home.notFound">No students found</span>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">

        <label>الشهر :</label>

        <select [(ngModel)]="searchByMonth" class="form-control"  name="selectedRegion">
          <option value="0"> اختر</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
          <option value="6">6</option>
          <option value="7">7</option>
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">

        <label>السنة :</label>

        <select class="form-control"  [(ngModel)]="searchByYear" name="selectedRegion">
          <option value="0"> اختر</option>
          <option value="2022">2022</option>
          <option value="2023">2023</option>
          <option value="2024">2024</option>
          <option value="2025">2025</option>
          <option value="2026">2026</option>
          <option value="2027">2027</option>
          <option value="2028">2028</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <button class="btn btn-danger" (click)="exportStores()">تحميل</button>
      </div>
    </div>  
  </div>

  <div class="table-responsive" id="entities" *ngIf="students && students.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
      <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
        <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
        <th scope="col" jhiSortBy="name"><span jhiTranslate="studentApp.student.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
        <!--          <th scope="col" jhiSortBy="age"><span jhiTranslate="studentApp.student.age">Age</span> <fa-icon icon="sort"></fa-icon></th>-->
        <!--          <th scope="col" jhiSortBy="gander">-->
        <!--            <span jhiTranslate="studentApp.student.gander">Gander</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
        <th scope="col" jhiSortBy="studyGroup">
          <span jhiTranslate="studentApp.student.studyGroup">Study Group</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <!--          <th scope="col" jhiSortBy="nationalId">-->
        <!--            <span jhiTranslate="studentApp.student.nationalId">National Id</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
        <!--          <th scope="col" jhiSortBy="parentNumber">-->
        <!--            <span jhiTranslate="studentApp.student.parentNumber">Parent Number</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
<!--        <th scope="col" jhiSortBy="rate"><span jhiTranslate="studentApp.student.rate">Rate</span> <fa-icon icon="sort"></fa-icon></th>-->
        <!--          <th scope="col" jhiSortBy="address">-->
        <!--            <span jhiTranslate="studentApp.student.address">Address</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
        <!--          <th scope="col" jhiSortBy="remarks">-->
        <!--            <span jhiTranslate="studentApp.student.remarks">Remarks</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
        <th scope="col" jhiSortBy="joiningDate">
          <span jhiTranslate="studentApp.student.joiningDate">Joining Date</span> <fa-icon icon="sort"></fa-icon>
        </th>
        <!--          <th scope="col" jhiSortBy="price"><span jhiTranslate="studentApp.student.price">Price</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--        <th scope="col" jhiSortBy="currentSora">-->
<!--          <span jhiTranslate="studentApp.student.currentSora">Current Sora</span> <fa-icon icon="sort"></fa-icon>-->
<!--        </th>-->
<!--        <th scope="col" jhiSortBy="stage"><span jhiTranslate="studentApp.student.stage">Stage</span> <fa-icon icon="sort"></fa-icon></th>-->
<!--        <th scope="col" jhiSortBy="grade"><span jhiTranslate="studentApp.student.grade">Grade</span> <fa-icon icon="sort"></fa-icon></th>-->
        <!--          <th scope="col" jhiSortBy="readAndWriteRate">-->
        <!--            <span jhiTranslate="studentApp.student.readAndWriteRate">Read And Write Rate</span> <fa-icon icon="sort"></fa-icon>-->
        <!--          </th>-->
<!--        <th scope="col" jhiSortBy="lastTestRate">-->
<!--          <span jhiTranslate="studentApp.student.lastTestRate">Last Test Rate</span> <fa-icon icon="sort"></fa-icon>-->
<!--        </th>-->
<!--        <th scope="col" jhiSortBy="groupClass">-->
<!--          <span jhiTranslate="studentApp.student.groupClass">Group Class</span> <fa-icon icon="sort"></fa-icon>-->
<!--        </th>-->
<!--        <th scope="col" jhiSortBy="disConnected">-->
<!--          <span jhiTranslate="studentApp.student.disConnected">Dis Connected</span> <fa-icon icon="sort"></fa-icon>-->
<!--        </th>-->
<!--        <th scope="col"></th>-->
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of students; trackBy: trackId" data-cy="entityTable">
        <td>
          <a [routerLink]="['/student', student.id, 'view']">{{ student.id }}</a>
        </td>
        <td>{{ student.name }}</td>
        <!--          <td>{{ student.age }}</td>-->
        <!--          <td>{{ student.gander }}</td>-->
        <td>{{ student.studyGroup }}</td>
        <!--          <td>{{ student.nationalId }}</td>-->
        <!--          <td>{{ student.parentNumber }}</td>-->
<!--        <td>{{ student.rate }}</td>-->
        <!--          <td>{{ student.address }}</td>-->
        <!--          <td>{{ student.remarks }}</td>-->
        <td>{{ student.joiningDate | formatMediumDate }}</td>
        <!--          <td>{{ student.price }}</td>-->
<!--        <td>{{ student.currentSora }}</td>-->
<!--        <td>{{ student.stage }}</td>-->
<!--        <td>{{ student.grade }}</td>-->
        <!--          <td>{{ student.readAndWriteRate }}</td>-->
<!--        <td>{{ student.lastTestRate }}</td>-->
<!--        <td>{{ student.groupClass }}</td>-->
<!--        <td>{{ student.disConnected }}</td>-->
<!--        <td class="text-right">-->
<!--          <div class="btn-group">-->
<!--            <button-->
<!--              type="submit"-->
<!--              [routerLink]="['/student', student.id, 'view']"-->
<!--              class="btn btn-info btn-sm"-->
<!--              data-cy="entityDetailsButton"-->
<!--            >-->
<!--              <fa-icon icon="eye"></fa-icon>-->
<!--              <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>-->
<!--            </button>-->

<!--            <button-->
<!--              type="submit"-->
<!--              [routerLink]="['/student', student.id, 'edit']"-->
<!--              class="btn btn-primary btn-sm"-->
<!--              data-cy="entityEditButton"-->
<!--            >-->
<!--              <fa-icon icon="pencil-alt"></fa-icon>-->
<!--              <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>-->
<!--            </button>-->

<!--            <button type="submit" (click)="delete(student)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">-->
<!--              <fa-icon icon="times"></fa-icon>-->
<!--              <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>-->
<!--            </button>-->
<!--          </div>-->
<!--        </td>-->
      </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="students && students.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
